body {
    background-color:#50e3c2;
    background: rgba(80, 227, 194, .1);
    color:rgb(17, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
    background-color: #50e3c2;
    padding: 20px;
    border-radius: 5px;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.input-div label{
    font-size: 14px;
}

input {
   border: none;
   border-radius: 5px;
   height: 30px;
}

textarea {
    border: none;
    border-radius: 5px;
}

.produto-div {
    display: flex;
    flex-direction: column;
    background-color: #50e3c2;
    width: 300px;
    gap: 10px;
    padding: 20px;
    border-radius:5px;
    margin-top: 10px;
}

.produto-div p {
    margin: 0px;
}

button {
    width: 100px;
    align-self: center;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

button:hover {
    background-color: hsl(216, 68.10%, 86.50%);
}